* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  margin: 0;
  background-color: black;
}

.title {
  justify-content: flex-start;
  align-items: center;
  color: #777;
  font-size: 1rem;
  padding: 5px;
  min-height: 10vh;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100vw;
}

.btn-container button {
  width: 225px;
  padding: 15px;
  margin: 10px;
  font-family: inherit;
  font-size: 1.35rem;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(60deg, #72169c, #56f5f5, #4bf845);
}

.btn-container button:hover {
  cursor: pointer;
  background: linear-gradient(60deg, #5b107e, #41d1d1, #32cc2c);
}

img {
  width: 100px;
  height: 100px;
}

.gallery {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 30vh;
  max-width: 100vw;
  overflow-x: auto;
}
.photo-container {
  font-size: 1.25rem;
  color: white;
  position: relative;
}

.photo-id-container {
  width: 15px;
  position: absolute;
  right: 45px;
}

.photo-id {
  display: flex;
  justify-content: flex-end;
  width: 50px;
}
